ETH_KEYSTORE_ACCOUNT=
FOUNDRY_SENDER=
ETHERSCAN_API_KEY=
HOOK_FUNDING_WEI=50000000000000000
RSC_FUNDING_WEI=5000000000000000000
UNICHAIN_SEPOLIA_URL=https://sepolia.unichain.org #Replace with your own RPC URL, e.g. from Alchemy or Infura
REACTIVE_LASNA_URL=https://lasna-rpc.rnk.dev/
TOKEN_WETH=
TOKEN_USDC=
UNISTRATA_HOOK=
UNISTRATA_REACTIVE=
